#grid {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
    #grid {
        flex-direction: column;
        margin: 0 auto;
    }
    .cust-col {
        width: 75%;
        margin: 0 auto;
    }
}