#grid {
    display: flex;
    justify-content: space-evenly;
}
.cust-col {
    width: 30%;
}
#op:hover,
#ttt:hover,
#match:hover {
    background: grey;
}

@media screen and (max-width: 992px) {
    #grid {
        flex-direction: column;
        margin: 0 auto;
    }
    .cust-col {
        width: 75%;
        margin: 0 auto;
    }
}