/* #grid {
    display: flex;
    justify-content: space-evenly;
} */
/* .cust-col {
    width: 50%;
}
@media screen and (max-width: 992px) {
    .cust-col {
        width: 45%;
        background: red;
    }
} */