#screen {
    background: #a68674;
}
#cont {
    display: flex;
    background: #a68674;
}
#title {
    text-align: center;
    margin: 0;
    padding: 2%;
    background: #a68674;
}
#col-1 {
    width: 50%;
    height: 100vh;
}
#man {
    height: 100vh;
    border-radius: 5px;
}
#col-1 img:hover {
    cursor: pointer;
}
#col-2 {
    flex-direction: column;
    width: 50%;
    padding: 1%;
}
#info {
    height: 50vh;
}
#target {
    height: 50vh;
}
#again {
    padding: 2%;
    background: #3f4868;
    border-radius: 10px;
    border: none;
    color: white;
}
#again:hover {
    background: #9CA6B5;
    cursor: pointer;
}
/* images of foreign objects */
#drag1 {
    width: 100px;
    position: absolute;
    bottom: 435px;
    left: 1%;
}
#drag2 {
    width: 50px;
    position: absolute;
    bottom: 270px;
    left: 230px;
}
#drag3 {
    width: 30px;
    position: absolute;
    bottom: 50px;
    left: 230px;
}
#drag4 {
    width: 30px;
    position: absolute;
    bottom: 90px;
    left: 170px;
}
#drag5 {
    width: 30px;
    position: absolute;
    bottom: 210px;
    left: 170px; 
}
#drag6 {
    width: 30px;
    position: absolute;
    bottom: 520px;
    left: 170px; 
}

@media screen and (max-width: 900px) {
	#cont {
        flex-direction: column;
    }
    #col-1 {
        width: 75%;
        /* height: 50vh; */
    }
    #man {
        margin: 0 auto;
    }
    #col-2 {
        flex-direction: row;
        width: 75%;
    }
    #col-1, #col-2 {
        margin: 0 auto;
    }
    #target {
        order: 1;
        /* margin: 0 auto; */
        width: 50%;
        /* height: 20vh; */
    }
    #info {
        order: 2;
        padding: 2%;
    }
}
