/* website theme palette hex codes:
    • light shades - snowdrift: #FAFBF9 || pampas: #F5F2EF
        --Use this color as the background for your dark-on-light designs; or the text color of an inverted design
    • light accent - gull gray: #9CA6B5 || indian khaki: #C5A284
        --Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
    • main brand color / primary - sunglo: #DE7171 || pharlap: #AA858E
        --This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
    • dark accent - santa fe: #B5765C || fountain blue: #55C4BA
        --Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
    • dark shades / info - fiord: #3F4868 || butterfly bush: #5F5088
        --Use as the text color for dark-on-light designs; or as the background for inverted designs.
    • success - asparagus: #67a35b
    • warning - carrot-orange: #f58c22
    • danger - pomegranate: #f44336

-- collapse this to hide -claire <3 --*/

:root {
    /* light shades */
    --snowdrift:#FAFBF9;
    --pampas: #F5F2EF;
    /* light accent */
    --gull-gray: #9CA6B5;
    --indian-khaki: #C5A284;
    /* main brand colors */
    --sunglo: #DE7171;
    --pharlap: #AA858E;
    /* dark accent */
    --santa-fe: #B5765C;
    --fountain-blue: #55C4BA;
    /* dark shades */
    --fiord: #3F4868;
    --butterfly-bush: #5F5088;
    /* success */
    --asparagus: #67A35B;
    /* warning */
    --carrot-orange: #F58C22;
    /* danger */
    --pomegranate: #F44336;
    /* kids-rx theme colors */
    --kidsrxblue: #F4F6FC;
    --kidsrxgreen: #F5FCFF;
    /* box shadow */
    --box-shadow: '0 16px 38px -12px rgb(0 0 0 / 56%)', '0 4px 25px 0px rgb(0 0 0 / 12%)', '0 8px 10px -5px rgb(0 0 0 / 20%)';
}

.wrap {
    height: 100vh;
    background-image: url(../images/site-design-images/plain-animal-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.siteWrap {
    padding-top: 10rem;
}

.loader {
    display: none;
}

.wrapper {
    min-height: 100vh;
    width: 65%;
    margin: 0 auto;    
    text-align: center;
}

.sectionContainer {
    padding: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginWrapper {
    background-color: #f4f6fc;
    box-shadow: var(--box-shadow);
}

.bigSpace {
    margin-top: 5rem;
}

.littleSpace {
    margin-top: 2.5rem;
}

.sectionTitle {
    text-align: center;
    text-shadow: var(--box-shadow);
}

.sectionInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* navburger */
.navBarWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarBtn {
    color: var(--fiord);
}

.appBarContainer {
    height: 4.3rem;
    background-color: var(--indian-khaki);
}

.appBarLogo {
    margin-right: 2rem;
}

.appBarWrap {
    padding: 0 5rem;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.loginTitle {
    color: var(--fiord);
    text-transform: uppercase;
    cursor: default;
    text-shadow: 2px 2px 8px #9CA6B5;
}

/* header */
.headerContainer {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headerInfoContainer {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--snowdrift);
}

.textWelcome {
    color: var(--sunglo);
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 8px #3F4868;
}

.headerTitle {
    padding: 2.5rem 0;
    color: var(--fiord);
    text-shadow: 0 0 5px #FF0000, 0 0 8px #0000FF;
}

.headerInfoText {
    padding: 2rem;
    color: var(--santa-fe);
    text-shadow: 1px 1px 5px #9CA6B5;
    line-height: 1.5;
}

.goDown {
    color: var(--fiord);
    font-size: 4rem;
}

/* services */
.sectionContainer {
    background-color: var(--kidsrxgreen);
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* about us  */
.aboutContainer {
    display: flex;
    justify-content: center;
    background-color: var(--kidsrxblue);
}

.aboutWrap {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.textInfo {
    color: var(--fiord);
    text-align: center;
    font-size: 22px;
}

/* login page */
.loginWrap {
    margin: 0 auto;
    width: 75%;
    border-radius: 24px;
    background-color: var(--kidsrxblue);
    box-shadow: 0px 1px 3px rgba(44, 42, 72, 0.9);
}

.loginContainer {
    padding: 2rem;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textFieldRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}