img {
    margin-top: 10%;
    border: 2px solid #a68674
}
#again-btn {
    background: #3f4868;
}

#back-btn:hover,
#change-btn:hover,
#again-btn:hover {
    background: grey;
}

/* accomodate smartphones */
@media screen and (max-width: 800px) {
    img {
        width: 100px;
        margin-top: 50%;
    }
}