img {
    margin-top: 10%;
}
#back-btn:hover,
#change-btn:hover {
    background: grey;
}

/* accomodate smartphones */
@media screen and (max-width: 800px) {
    img {
        width: 100px;
        margin-top: 50%;
    }
}